@charset "utf-8";
/* CSS Document */


*{
    font-family: "微軟正黑體", Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.white{
    color: #fff;
}

.clay{
    color: #1cbea1;
}

.orange{
    color: #ff5c33; 
}

.tomato{
    color: tomato;
}

.fw{
    font-weight: bold;
}

.lh{
    line-height: 32px;
}

strong{
    color: #b61004;
}

.r_body{
    border: solid 3px #1cbea1;
    border-radius: 20px;
    width: 280px;
    height: 350px;
    background-color: rgba(255,255,255,0.9);
    z-index: 998;
    position: fixed;
    right: 78px;
    bottom: 178px;
    padding: 6px;
}

#rsay_to{
    height: 69%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.r_photo{
    width: 40px;
    height: 40px;
    margin-left: 27px;
    margin-top: 10px;
}

.r_pic{
    width: 40px;    
    height: 40px;
    margin-left: 7px;
}

.r_p{
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    color: #fff;
    background-color: #1cbea1;
    border-radius: 100%;
    margin-left: 7px;
    margin-top: 40px;
}

.talk{
    background-color: #1cbea1;
    border-radius: 7px 7px 0px 7px;
    color: #fff;
    margin-top: 20px;
    padding: 7px;
    
}

.r_hi{
    width: 60%;
    padding: 7px;
    background-color: #e1e1e1;
    border-radius: 0px 7px 7px 7px;
    margin-left: 7px;
    margin-top: 20px;
}

.robot_pic{
    background-image: url(../images/robot.png);
    background-size: cover;
}

.robot_top{
    z-index: 998;
    width: 80px;
    height: 160px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    bottom: 21px;
}

.robot_top span{
    width: 70px;
    height: 70px;
    border:solid 3px #fff;
    border-radius: 100%;
    background-color: #1cbea1;
    text-align: center;
    padding-top: 21px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.noline,.noline:hover{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    display: block;
}

.rr_div{
    margin-left: 100px;
}

.r_div{
    margin-left: 7px;
}

.r_c{
    position: fixed;
    bottom: 232px;
    margin-left: 30px;
}

.r_c .btn-success{
    font-size: 17px;
}

.r_box{
    position: fixed;
    bottom: 190px;
    margin-left: 1px;
}

.r_text{
    padding: 5px;
    border-radius: 20px;
    background-color: #e1e1e1;
    border:none;
    width: 259px;

}

.mbox{
    padding: 0;
    margin: 0;
    border-top: 5px solid #1cbea1;
    border-bottom: 5px solid #1cbea1;
}

.mbox .close{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container{
    width: 80%;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50px;
    margin: 3rem;
    padding: 1vw 4vw;
    opacity: 0.9;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
    transition: .5s;
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 10% auto;
}
.navbar {
    padding: 1rem 1rem;
    
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: larger;
}

.navbar-nav .nav-item .nav-link {
    color: black; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(5, 111, 199); 
}

.navbar-brand-logo {
    display: inline-block; 
    width: 150px; 
    height: 50px; 
    text-decoration: none; 
}

.background-image {
    width: 100%; 
    height: 100%; 
    background-image: url('../images/logo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    transition: transform 0.3s ease; 
}

.navbar-brand-logo:hover .background-image {
    transform: scale(1.05); /* 鼠标悬停时放大图片 */
}

.nav-link,.gly-link{
    color: #666;
    transition: .5s;
    font-weight: bold;
    padding:  0px 1rem;
}

.nav-link:hover,.gly-link:hover{
    opacity: 1;
    transition: .5s;
}

.gly-link{
    padding: 0px 17px;
    opacity: 0.8;
}

#sebox{
    max-width: 120px;
}

.logo_space{
    width: 300px;
}

.carousel-caption{
    left: 12%;
    bottom: 25%;
}

.carousel-caption h2{
    text-shadow: rgba(0,0,0,0.5)3px 3px 7px;   
    font-size: 2.7vw;
}

.carousel-caption h4{
    text-shadow: rgba(0,0,0,0.5)3px 3px 7px;
    line-height: 42px;
}

.tt{
    padding: 17px 0px;
    max-width: 700px;
}

.cc{
    background-position: right 5px;
    margin: -0.1% 5%;
}

.text-width{
    width: 52%;
    margin: auto;
    padding-bottom: 60px;
}

.page1{
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: radial-gradient(circle at 25% 25%, #badb25, transparent 70%),
                radial-gradient(circle at 75% 75%, #9370db, transparent 70%);
}

.o_img{
    max-width: 120px;
    height: 120%;
    border-radius: 100%;
}

.am{
    display: flex;
    justify-content: center;    
    align-items: center;
}

.shop_add,.shop_min{
    font-weight: bold;
    color: #1cbea1;
    margin: 5px;
    font-size: 20px;
}

.cm{
    border:solid 3px #1cbea1;
    border-radius: 7px;
    color: #1cbea1;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 60%;
}



.inshadow .shadow_o,.inshadow .shadow_c{
    margin-top: 100px;
    text-shadow: rgba(255,255,255,0.5)0px 3px 3px;
    font-size: 6vw;
    letter-spacing: 15px;
    -webkit-background-clip: text;
    color:transparent;
    font-weight: bold;
    
}

.inshadow .shadow_o{
    background-color: #ff5c33;
}

.inshadow .shadow_c{
    background-color: #1cbea1;
}

.btn-white{
    border:solid 3px #fff;
    color: #fff;
    padding: 7px 12px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0);
    font-size: 22px;
    font-weight: bold;
    transition: .5s;
}

.btn-white:hover{
    border:solid 3px #fff;
    background-color: #fff;
    color: #1cbea1;
    transition: .5s;
    cursor: pointer;
}

.btn-danger{
    border:solid 3px #ff5c33;
    color: #ff5c33;
    padding: 7px 12px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0);
    font-size: 22px;
    font-weight: bold;
    transition: .5s;
}

.btn-danger:hover{
    border:solid 3px #ff5c33;
    background-color: #ff5c33;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.btn-success{
    border:solid 3px #1cbea1;
    color: #1cbea1;
    padding: 7px 12px;
    border-radius: 7px;
    background-color: rgba(255,255,255,0);
    font-size: 22px;
    font-weight: bold;
    transition: .5s;
}

.btn-success:hover{
    border:solid 3px #1cbea1;
    background-color: #1cbea1;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.line{
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-weight: bold;
    font-size: 40px;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 30px;
}

.shop_box{
    border-radius: 20px;
    background-color: #1cbea1;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.spe{
    color: rgba(255,255,255,0.9);
    font-size: 0.9vw;
    font-weight: bold;
    line-height: 32px;
    padding-bottom: 12px;
}

.shop_list{
    margin: 20px 0px;
    display: block;
}

.shop_tb{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.chart{
    max-width: 650px;
    margin: auto;
    height: 60%;
}

.page3{
    background: radial-gradient(circle at 25% 25%, #badb25, transparent 70%),
                radial-gradient(circle at 75% 75%, #9370db, transparent 70%);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.page4{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(circle, #000000, #414040);
}

.tas{
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.chat_box{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
    padding: 42px;
    height: 600px;
    margin-bottom: 30px;
    border:solid 4px #e1e1e1;
}

.linet,.linet:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

footer{
    background: radial-gradient(circle, #000000, #414040);
    color: #fff;
    font-weight: bold;
    padding-top: 20px;
}
.footer-section{
    color: #fff;
    padding-left: 5em;
}
.footer-section h2 {
    padding-bottom: 5px;
    margin-bottom: 0px;
    text-align: left;
    
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
}

.footer-section li {
    margin-bottom: 15px;
    text-align: left;
}


.footer-section i {
    color: gold;
    margin-right: 10px;
    width: 30px; 
}

.elementor-icon-list-items {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.elementor-icon-list-item {
    margin-bottom: 15px; 
}

.elementor-icon-list-item a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: white; 
    transition: color 0.3s ease; 
}

.elementor-icon-list-item a:hover {
    color: gold; 
}

.elementor-icon-list-icon {
    margin-right: 10px; 
}

.elementor-icon-list-text {
    font-size: 1.2em; 
}


.chat-box{
    list-style-type: none;
    font-size: 1.2em;
}

.chat-tit{
    color: teal;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.box{
    border-left: 5px solid teal;
    color: rgb(6,45,45);
    padding-left: 5px;
    margin-top: 15px;
    display: block;
}
.content-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
}

.logo-img {
    width: 400px; 
    height: auto; 
    
}

.content-wrapper p {
    font-size: 2em; 
}
.video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    padding-top: 56.25%; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-nav {
        width: 100%;
        justify-content: flex-start;
    }
    .navbar-brand-logo {
        margin-bottom: 1rem;
    }
    .video-container {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
        margin: 1rem;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
    }
    .carousel-caption h2 {
        font-size: 5vw;
    }
    .carousel-caption h4 {
        line-height: 2rem;
    }
    .video-container {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar {
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .navbar-nav .nav-link {
        padding: 0.5rem 0;
    }
    .carousel-caption h2 {
        font-size: 6vw;
    }
    .carousel-caption h4 {
        line-height: 1.5rem;
    }
    .video-container {
        max-width: 100%;
        padding-top: 56.25%; 
    }
}
